%legend About
.row-fluid
  .span12
    
    %p
      Ministry of Slow Compliance is an organization devoted to seeking methods of meeting
      =link_to 'unstipulated', '#', 'data-toggle' => 'tooltip', 'data-original-title' => '... as not being part of a bargain or agreement, either formal or informal.'
      requirements at the lowest pace possible.

    %p When looking for ways to protest government abuse, not everyone is able to engage in total non-compliance.  But one of the tools we still have is to just drag our feet.  So, if you cannot participate in total non-compliance, consider slow compliance.

    %p Laws tend to define compliance and non-compliance fairly well, but these same laws may not lay out exactly what "timely compliance" means.

    %p Consider, total non-compliance may result in more obvious resistance while slow compliance may not be as obvious.  But if, for example, total non-compliance may cost $100 to enforce, slow compliance multiplied by thousands of people may end up costing $1,000 without creating a violation.  This is just a simplified example, but illustrates the goal: Higher distributed impact with lower individual risk.

    %p If you can engage in total non-compliance, please do so.  We will root for you.  But if you cannot justify the risk, let's work together.

    %p Our goal is to find ways to comply with everything ... eventually.

    %hr
    = link_to "Back", :back
